---
apiVersion: v1
kind: Secret
metadata:
  name: gitops-repo
  namespace: openshift-gitops
labels:
  argocd.argoproj.io/secret-type: repository
type: Opaque
stringData:
{% if git_ssh_enabled  == True %}
  sshPrivateKey: |
{{ lookup('file', '{{ repo_pvt_ssh_key_file }}') | indent(4, true) }}
{% else %}
  username: {{ lookup('file', '{{ repo_git_http_username_file }}') }}
  password: {{ lookup('file', '{{ repo_git_http_password_file }}') }}
{% endif %}
